/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ | Ritto Edit */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px $font-montserrat, Arial;
}

.wrap{
    width: 100%;
    max-width: 1120px;
    height: auto;
    margin: 0 auto;
    padding: 0 10px;
    @include respond-to-max(700){
        padding: 0 20px;
    }
}

.btn{
    display: flex;
    font-size: 18px;
    color: $white;
    width: fit-content;
    background: $green;
    padding: 12px 55px;
    font-weight: 500;
    border-radius: 50px;
    transition: all .2s ease-in-out;
    position: relative;
    &:hover{
        color: $white !important;
        background: #00A867;
    }
    &:active{
        transform: scale(.96)
    }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.no-desktop{
    display: none;
    @include respond-to-max(700){
        display: block;
    }
}
.no-mobile{
    display: block;
    @include respond-to-max(700){
        display: none;
    }
}


//	Headings

a{
    text-decoration: none;
}
    
.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6{
    color: $dark-grey;
    font-weight: bold;
}
  

.gigantic{
    font-size: 110px;
    line-height: 1.09;
    letter-spacing: -2px;
}

.huge, h1{
    font-size: 3.8em;
    line-height: 1.05;
    letter-spacing: -1px;
}

.large, h2{
    font-size: 2.2em;
    line-height: 1.14;
    @include respond-to-max(700){
        font-size: 1.5em;
    }
}

.bigger, h3{
    font-size: 1.8em;
    line-height: 1.38;
}

.big, h4{
    font-size: 1.3em;
    line-height: 1.4;
    @include respond-to-max(700){
        font-size: 1em;
    }
}

.small, small{
    font-size: 10px;
    line-height: 1.2;
}


// Basic Text Style

p{
    margin: 0 0 20px 0;
    line-height: 1.9;
    font-weight: 500;
}

em{
    font-style: italic;
}

strong{
    font-weight: bold;
}

hr{
    border: solid #ddd;
    border-width: 1px 0 0;
    clear: both;
    margin: 10px 0 30px;
    height: 0;
}

//form

input,
textarea,
button{
    box-sizing: border-box;
}
