.page-recursos{
    .cl-effect-13 a:hover::before,
    .cl-effect-13 a:focus::before {
        color: $green;
        text-shadow: 10px 0 $green, 20px 0 $green, 30px 0 $green, -10px 0 $green, -20px 0 $green, -30px 0 $green;
    }
    header{
        nav{
            ul{
                li{
                    a{
                        color: $green;
                        @include respond-to-max(1020){
                            color: $white;
                        }
                        &:hover{
                            color: $green;
                            @include respond-to-max(1020){
                                color: $white;
                            }
                        }
                        &.btn{
                            background: $green;
                            color: $white;
                            @include respond-to-max(1020){
                                background: $white;
                                color: $green;
                            }
                        }
                    }
                }
            }
        }
    }
}

.main-recurso{
    padding-top: 150px;
    @include respond-to-max(1000){
        padding-top: 111px;
    }
    @include respond-to-max(750){
        padding-top: 81px;
    }
    .title{
        margin: 0;
        position: relative;
        &:before{
            display: none;
        }
        h1{
            font-size: 101px;
            margin: 0;
            position: relative;
            display: inline-block;
            font-family: 'Calibri', sans-serif;
            &:before {
                position: absolute;
                content: '';
                color: transparent;
                background: $green;
                width: 15px;
                height: 15px;
                bottom: 10px;
                right: -25px;
    
                @include respond-to-max(750) {
                    width: 10px;
                    height: 10px;
                }
            }
        }
        h2{
            font-size: 42px;
            color: $green;
            margin: 0;
            font-family: 'Calibri', sans-serif;
            padding: 20px 0;
        }
        span{
            font-size: 550px;
            font-weight: bold;
            position: absolute;
            top: 0;
            display: block;
            font-family: "Calibri",sans-serif;
            left: auto;
            right: 100%;
            top: 100%;
            opacity: 0.1;
            @include respond-to-max(1120){
                left: auto;
                right: 40%;
                font-size: 320px;
            }
            @include respond-to-max(1010){
                left: -10%;
                right: auto;
                top: auto;
                bottom: -75%;
            }
        }
    }
    section{
        background: transparent;
        .wrap{
            display: flex;
            position: relative;
            @include respond-to-max(750){
                flex-direction: column;
            }
        }
        .column-50{
            width: 50%;
            @include respond-to-max(750){
                width: 100%;
            }
            .text-box{
                padding: 80px 45px;
                p{
                    width: 100%;
                }
            }
            img{
                width: 100%;
                max-width: 360px;
            }
            .parallax-box{
                height: 100%;
                @include respond-to-max(750){
                    height: 600px;
                    max-width: 355px;
                    margin: 0 auto;
                }
            }

        }
        p{
            font-size: 16px;
            line-height: 29px;
            color: #4B4B4B;
            width: 75%;
            @include respond-to-max(750){
                width: 100%;
            }
        }
        &.bg-green{
            
            .title{
                span{
                    left: 133%;
                    right: auto;
                    top: 100%;
                    opacity: 0.1;
                    @include respond-to-max(1120){
                        left: 35%;
                        right: auto;
                        font-size: 320px;
                    }
                }
            }
            .bg{
                position: absolute;
                width: 50%;
                height: 100%;
                background: $green;
                left: 0;
                top: 0;
                @include respond-to-max(750){
                    width: 100%;
                    height: 600px;
                }
            }
        }
        &.bg-red{
            .wrap{

                @include respond-to-max(750){
                    flex-direction: column-reverse;
                }
            }
            .title{
                h1{
                    &:before {
                        background: $red;
                    }
                }
                h2{
                    color: $red;
                }
            }
            .bg{
                position: absolute;
                width: 50%;
                height: 100%;
                background: $red;
                right: 0;
                top: 0;
                @include respond-to-max(750){
                    width: 100%;
                    height: 600px;
                }
            }
        }
    }
}
.nav-rec{
    width: 100%;
    position: relative;
    margin-top: 0;
    transition: all .2s ease-in-out;
    background: $white;
    
    .scroll-box{
        width: 100%;
        height: auto;
        @include respond-to-max(1000){
            overflow-x: scroll;
            .wrap{
                width: 1120px;
            }
        }
    }
    .gradiante-alpha{
        width: 50px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        background: linear-gradient(0.25turn, rgba(#fff,0), rgba(#F6F6F6,0.8), rgba(#F6F6F6,0.8));
        transition: all .3s ease-in-out;
    }

    &.active{
        position: fixed;
        margin-top: -38px;
        z-index: 90;
        background: #F6F6F6;
        border-top: 1px solid #D8D8D8;
        border-bottom: 1px solid #D8D8D8;
        @include respond-to-max(1000){
            margin-top: 0;
        }
        
        ul{
            border: none;
        }
        
        .gradiante-alpha{
            width: 50px;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            background: linear-gradient(0.25turn, rgba(#F6F6F6,0), rgba(#e6e6e6,0.8), rgba(#e6e6e6,0.8));
        }
    }
    ul{
        list-style: none;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        margin: 0;
        border-top: 1px solid #D8D8D8;
        li{
            display: block;
            a{
                font-size: 12px;
                font-weight: 600;
                font-family: $font-montserrat;
                padding: 14px 0;
                color: $grey;
                border-top: 10px solid transparent;
                transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
                &:hover{
                    padding: 14px 0;
                    color: $green;
                    border-top: 3px solid $green;
                }
            }
        }
    }
}

#intro{
    padding: 5em 0;
    .title{
        width: 100%;
        .hr{
            width: 100%;
            height: auto;
            position: relative;
            &::before{
                content: '';
                color: transparent;
                width: 100%;
                height: 2px;
                background: #0AD283;
                position: absolute;
                margin: auto;
                top: 0;
                bottom: 0;
                z-index: 0;
            }
            h2{
                background: #fff;
                position: relative;
                z-index: 1;
                width: fit-content;
                padding: 20px 35px 20px 0;
            }
        }
    }
}
#cpf{
    .parallax-box{
        width: 100%;
        position: relative;
        img{
            position: absolute;
            top: 0;
            @include respond-to-max(1010){
                left: -55px;
            }
            &:last-child{
                top: 85px;
                left: 95px;
                @include respond-to-max(1010){
                    left: 35px;
                }
                @include respond-to-max(750){
                    left: 58px;
                }
            }
        }
    }
}

#juridicos{
    .parallax-box{
        width: 100%;
        position: relative;
        img{
            position: absolute;
            top: 0;
            right: 0;
            @include respond-to-max(1010){
                right: -40px;
            }
            @include respond-to-max(750){
                right: 0;
            }
            &:last-child{
                top: 115px;
                right: 165px;
                max-width: 274px;
                @include respond-to-max(1010){
                    right: 80px;
                }
                @include respond-to-max(750){
                    right: 0;
                }
            }
        }
    }
}

#senhas{
    .title{
        span{
            //left: 108%;
            //top: 34%;
        }
    }
    .parallax-box{
        width: 100%;
        position: relative;
        img{
            position: absolute;
            top: 0;
            right: 0;
            &:last-child{
                top: 136px;
                right: 165px;
                max-width: 274px;
                @include respond-to-max(1010){
                    right: -40px;
                }
            }
        }
    }
}

#documentos{
    .title{
        span{
            right: 108%;
            top: 34%;
        }
    }
    .parallax-box{
        width: 100%;
        position: relative;
        img{
            position: absolute;
            top: 0;
            right: 0;
            @include respond-to-max(1010){
                right: -35px;
            }
            @include respond-to-max(750){
                right: 0;
            }
            &:last-child{
                top: 155px;
                right: 165px;
                max-width: 274px;
                @include respond-to-max(1010){
                    right: 60px;
                }
                @include respond-to-max(750){
                    right: 0;
                }
            }
        }
    }
}

#telefone{
    .title{
        span{
            //left: 108%;
            top: 0%;
            right: auto;
        }
    }
    .parallax-box{
        width: 100%;
        position: relative;
        img{
            position: absolute;
            top: -30px;
            left: 0;
            @include respond-to-max(1010){
                right: -20px;
            }
            &:last-child{
                top: 130px;
                left: 165px;
                max-width: 274px;
                @include respond-to-max(1010){
                    left: -20px;
                }
                @include respond-to-max(750){
                    left: 0;
                }
            }
        }
    }
}


#cheques{
    .title{
        span{
            right: 108%;
            top: -30%;
        }
    }
    .parallax-box{
        width: 100%;
        position: relative;
        img{
            position: absolute;
            top: 0;
            left: 0;
            &:last-child{
                top: 150px;
                left: 165px;
                max-width: 274px;
                @include respond-to-max(1010){
                    left: auto;
                    right: -10px;
                }
                @include respond-to-max(750){
                    left: 0;
                }
            }
        }
    }
}

#empresas{
    .title{
        span{
            left: 100%;
            top: -50%;
            right: auto;
        }
    }
    .parallax-box{
        width: 100%;
        position: relative;
        img{
            position: absolute;
            top: 0;
            right: 0;
            &:last-child{
                top: 155px;
                right: 165px;
                max-width: 274px;
                @include respond-to-max(750){
                    right: 0;
                }
            }
        }
    }
}

#negativacoes{
    .title{
        span{
            right: 108%;
            top: -50%;
        }
    }
    .parallax-box{
        width: 100%;
        position: relative;
        img{
            position: absolute;
            top: 0;
            left: 0;
            &:last-child{
                top: 160px;
                left: 165px;
                max-width: 274px;
                @include respond-to-max(1010){
                    top: 133px;
                    left: 0;
                }
                @include respond-to-max(750){
                    left: 0;
                }
            }
        }
    }
}
#assistencia{
    background: #F1F1F1;
    .title{
        span{
            //left: 100%;
            top: 0;
            right: auto;
            @include respond-to-max(1010){
                left: 50%;
            }
        }
    }
    .parallax-box{
        width: 100%;
        position: relative;
        @include respond-to-max(750){
            height: 480px;
        }
        img{
            max-width: 412px;
            position: absolute;
            top: 0px;
            right: 0;
            left: 0;
            margin: 0 auto;
        }
    }

    .text-box{
        .parallax-texto{
            width: 100%;
            height: 100px;
            display: flex;
            position: relative;
            img{
                width: 100%;
                max-width: 200px;
                position: absolute;
                left: -25%;
                top: 0;
                @include respond-to-max(1100){
                    left: -45%;
                }
                @include respond-to-max(1010){
                    left: -14%;
                }
                @include respond-to-max(750){
                    left: -800px;
                }
                &:last-child{
                    left: 66%;
                    @include respond-to-max(1100){
                        left: 103%;
                    }
                    @include respond-to-max(1010){
                        left: 91%;
                    }
                    @include respond-to-max(750){
                        left: 1040px;
                    }
                }
            }
        }
    }

}


#servicos{
    .title{
        span{
            right: 108%;
            top: -50%;
        }
    }
    .wrap{
        @include respond-to-max(750){
            flex-direction: column-reverse;
        }
    }
    .parallax-box{
        width: 100%;
        position: relative;
        img{
            position: absolute;
            top: 0;
            right: 80px;
            @include respond-to-max(750){
                right: 0;
                top: 0;
            }
            &:last-child{
                top: 140px;
                left: 0;
                @include respond-to-max(750){
                    top: 125px;
                }
            }
        }
    }
}